
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<form action="/Account/ChangePassword" method="post">
    <div class="form-group row">
        <label for="currentPassword" class="col-4 col-form-label">Current Password</label>
        <div class="col-8">
            <input id="currentPassword" name="currentPassword" type="password" class="form-control" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="newPassword" class="col-4 col-form-label">New Password</label>
        <div class="col-8">
            <input v-model="newPassword" name="newPassword" type="password" class="form-control" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="retypePassword" class="col-4 col-form-label">Re-type Password</label>
        <div class="col-8">
            <input v-model="retypePassword" name="retypePassword" type="password" class="form-control" required>
            <span v-if="retypePassword && btnDisabled()" id="retypePasswordHelpBlock" class="form-text text-danger">Password does not match.</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" :disabled="btnDisabled()">Submit</button>
        </div>
    </div>
</form>

<script type="module">
    import { createApp } from "/Scripts/petite-vue.es.js";
    const app = {
        //data
        newPassword: '',
        retypePassword: '',
        //methods
        btnDisabled() {
            return this.newPassword && (this.newPassword !== this.retypePassword)
        },
    }
    createApp(app).mount();
</script>