@model List<SharpDevelopMVC4.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customer Details</h2>

<a href="/Customer/AddCustomer" class="btn btn-primary btn-lg float-left">Add Customer</a>

<table class="table table-dark table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Action</th>
    </tr>

    @foreach (var custom in Model)
    {
        <tr>
            <td>@custom.Id</td>
            <td>@custom.Name</td>
            <td>@custom.PhoneNumber</td>
            <td>@custom.Address</td>
            <td>
                <a href="/Customer/Edit/@custom.Id" class="btn btn-warning btn-sm">Edit</a>
                <a href="/Customer/Delete/@custom.Id" class="btn btn-danger btn-sm" onclick="return confirm ('Are You Sure?')">Delete</a>
            </td>

        </tr>
    }


</table>